img {
	max-width: 100%;
}
.homepage-bg {
	background: url('../img/homepage-background-2.jpg') repeat-y;
	background-size: 2000px auto;
	min-height: 100vh;
	position: relative;
	overflow: hidden;
}
header {
	padding: 0px 0;
	background: rgba(255,255,255,0.8);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}
.homepage-bg>section {
	padding: 60px 0;
}
.navbar-toggler {
	border: 1px solid #333;
}
a.nav-link {
	color: #666;
	font-size: 18px;
	text-transform: uppercase;
}
.active a.nav-link {
	color: #333;
}

.site_wrapper {
	position: relative;
}
.home main {
    position: relative;
    min-height: 5900px
}

@media screen and (min-width:48em) {
    .home main {
        min-height: 3865px
    }
}

@media screen and (min-width:75em) {
    .home main {
        min-height: 3905px
    }
}

.home main .main-homepage-content {
    margin-top: 2em;
    margin-bottom: 9em
}

@media screen and (min-width:48em) {
    .home main .main-homepage-content {
        margin-top: 10em
    }
}

@media screen and (min-width:75em) {
    .home main .main-homepage-content {
        padding: 0 4.5em
    }
}

.home main .main-homepage-content #home-logo {
    width: 150px;
    position: relative;
    margin-left: 20px;
    margin-top: -16px;
    z-index: 9
}

@media screen and (min-width:48em) {
    .home main .main-homepage-content #home-logo {
        width: 175px;
        margin: 0;
        margin-top: -8px
    }
}

@media screen and (min-width:75em) {
    .home main .main-homepage-content #home-logo {
        width: 205px;
        margin: 0;
        margin-top: -10px
    }
}

.home main .main-homepage-content #home-logo #signature-an {
    height: 96px !important;
    width: 100%;
    stroke-width: 2px
}

.home main .main-homepage-content #home-logo .signature-dot {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    stroke-width: 2px
}

.home main .main-homepage-content .home-posts-list .home-post {
    top: 40.5em;
    z-index: 9;
    opacity: 0;
    padding-left: 30px;
    padding-right: 30px;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    position: absolute;
    display: none
}

@media screen and (min-width:48em) {
    .home main .main-homepage-content .home-posts-list .home-post {
        top: 17.5em;
        padding-left: 15px;
        padding-right: 15px
    }
}

.home main .main-homepage-content .home-posts-list .home-post.inview {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0)
}

.home main .main-homepage-content .home-posts-list .home-post h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    color: #fff;
    margin-left: 1px
}

@media screen and (min-width:48em) {
    .home main .main-homepage-content .home-posts-list .home-post h3 {
        font-size: 14px
    }
}

.home main .main-homepage-content .home-posts-list .home-post h1 {
    margin: .4em 0 .5em;
    font-size: 34px
}

@media screen and (min-width:48em) {
    .home main .main-homepage-content .home-posts-list .home-post h1 {
        margin: .4em 0
    }
}

@media only screen and (min-device-width:48em) and (max-device-width:64em) and (orientation:portrait) {
    .home main .main-homepage-content .home-posts-list .home-post h1 {
        font-size: 32px
    }
}

@media screen and (min-width:75em) {
    .home main .main-homepage-content .home-posts-list .home-post h1 {
        font-size: 38px
    }
}

.home main .main-homepage-content .home-posts-list .home-post a {
    color: #fff;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.home main .main-homepage-content .home-posts-list .home-post a:hover {
    text-decoration: underline
}

.home main .main-homepage-content .home-posts-list .home-post.home-post-1 {
    display: block
}

.home main .main-homepage-content .home-posts-list .home-post.home-post-1 h1 {
    max-width: 85%
}

@media screen and (min-width:75em) {
    .home main .main-homepage-content .home-posts-list .home-post.home-post-1 {
        margin-left: 7px
    }
}

.home main .main-homepage-content .home-posts-list .home-post.home-post-2 {
    top: 123.5em;
    display: block
}

@media screen and (min-width:48em) {
    .home main .main-homepage-content .home-posts-list .home-post.home-post-2 {
        float: right;
        top: 40.7em;
        left: 29em
    }
}

@media only screen and (min-device-width:48em) and (max-device-width:64em) and (orientation:portrait) {
    .home main .main-homepage-content .home-posts-list .home-post.home-post-2 {
        left: 26em
    }
}

@media screen and (min-width:75em) {
    .home main .main-homepage-content .home-posts-list .home-post.home-post-2 {
        top: 39.6em;
        left: 46.2em
    }
}

.home main .main-homepage-content .home-posts-list .home-post.home-post-3 {
    top: 216em;
    display: block
}

@media screen and (min-width:48em) {
    .home main .main-homepage-content .home-posts-list .home-post.home-post-3 {
        float: right;
        top: 71.9em;
        left: 29em
    }
}

@media only screen and (min-device-width:48em) and (max-device-width:64em) and (orientation:portrait) {
    .home main .main-homepage-content .home-posts-list .home-post.home-post-3 {
        left: 26em
    }
}

@media screen and (min-width:75em) {
    .home main .main-homepage-content .home-posts-list .home-post.home-post-3 {
        left: 46.2em
    }
}

.home main .main-homepage-content .home-posts-list .home-post.home-post-4 {
    top: 238em;
    display: block
}

@media screen and (min-width:48em) {
    .home main .main-homepage-content .home-posts-list .home-post.home-post-4 {
        top: 111em;
        left: 0
    }
}

@media screen and (min-width:75em) {
    .home main .main-homepage-content .home-posts-list .home-post.home-post-4 {
        left: 11.2em
    }
}

.home main .main-homepage-content .home-posts-list .home-post.home-post-5 {
    top: 323em;
    display: block
}

@media screen and (min-width:48em) {
    .home main .main-homepage-content .home-posts-list .home-post.home-post-5 {
        float: right;
        top: 159.8em;
        left: 29em
    }
}

@media only screen and (min-device-width:48em) and (max-device-width:64em) and (orientation:portrait) {
    .home main .main-homepage-content .home-posts-list .home-post.home-post-5 {
        left: 26em
    }
}

@media screen and (min-width:75em) {
    .home main .main-homepage-content .home-posts-list .home-post.home-post-5 {
        top: 161.4em;
        left: 46.2em
    }
}

.home main .main-homepage-content .home-posts-list .home-post.home-post-6 {
    top: 382em;
    display: block
}

@media screen and (min-width:48em) {
    .home main .main-homepage-content .home-posts-list .home-post.home-post-6 {
        top: 221.9em;
        left: 0
    }
}

@media screen and (min-width:75em) {
    .home main .main-homepage-content .home-posts-list .home-post.home-post-6 {
        top: 226.9em;
        left: 4.9em
    }
}

.home footer {
    background-color: rgba(0, 0, 0, .7);
    margin-top: 47em
}


.table-element {
    position: absolute;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    display: none;
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
    transform: scale(.9)
}

@media screen and (min-width:48em) {
    .table-element {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none
    }
}

.table-element img {
    max-width: none
}

@media screen and (min-width:48em) {
    .table-element img {
        max-width: 100%
    }
}

#ipad-wrapper {
    top: 75px;
    right: -260px;
    z-index: 2;
    width: 637px;
    display: block;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05)
}

@media screen and (min-width:48em) {
    #ipad-wrapper {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        width: auto;
        top: 0;
        right: -410px
    }
}

@media screen and (min-width:75em) {
    #ipad-wrapper {
        right: -200px
    }
}

#ipad-wrapper img {
    max-width: 100%
}

#mask {
    overflow: hidden;
    position: absolute;
    width: 430px;
    height: 318px;
    right: 120px;
    top: 90px;
    -webkit-transform: rotate(-15.2deg);
    -moz-transform: rotate(-15.2deg);
    -ms-transform: rotate(-15.2deg);
    -o-transform: rotate(-15.2deg);
    transform: rotate(-15.2deg);
    opacity: .8
}

@media screen and (min-width:48em) {
    #mask {
        width: 610px;
        height: 445px;
        right: 140px;
        top: 35px
    }
}

@media screen and (min-width:75em) {
    #mask {
        width: 610px;
        height: 445px;
        right: 140px;
        top: 35px
    }
}

.screenshot {
    width: 100%
}

#badge {
    top: 32.5em;
    right: -2.5em;
    z-index: 1;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
    display: block
}

@media screen and (min-width:48em) {
    #badge {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        top: 31.7em;
        right: -9em
    }
}

@media only screen and (min-device-width:48em) and (max-device-width:64em) and (orientation:portrait) {
    #badge {
        right: -6em
    }
}

@media screen and (min-width:75em) {
    #badge {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        top: 30em;
        right: -3.8em
    }
}

#notebook {
    top: 54em;
    left: -13em;
    z-index: 1;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
    display: block
}

@media screen and (min-width:48em) {
    #notebook {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        top: 31.8em;
        left: -35.6em
    }
}

@media screen and (min-width:75em) {
    #notebook {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        top: 33.1em;
        left: -17.3em
    }
}

#notebooks-stack {
    top: -8em;
    left: -16em;
    display: block
}

@media screen and (min-width:48em) {
    #notebooks-stack {
        top: 1px;
        left: -17em
    }
}

@media only screen and (min-device-width:48em) and (max-device-width:64em) and (orientation:portrait) {
    #notebooks-stack {
        top: 0;
        left: -14em
    }
}

@media screen and (min-width:75em) {
    #notebooks-stack {
        top: 0;
        left: -11.5em
    }
}

#smiths {
    top: 5em;
    right: -57em;
    display: block
}

@media screen and (min-width:48em) {
    #smiths {
        top: 0;
        right: -58em
    }
}

@media only screen and (min-device-width:48em) and (max-device-width:64em) and (orientation:portrait) {
    #smiths {
        right: -54em
    }
}

@media screen and (min-width:75em) {
    #smiths {
        top: 0;
        right: -60em
    }
}

#glasses {
    top: 132.5em;
    right: -22em;
    display: block
}

@media screen and (min-width:48em) {
    #glasses {
        top: 50.3em;
        right: -26.7em
    }
}

@media screen and (min-width:75em) {
    #glasses {
        top: 50em;
        right: -20.8em
    }
}

#bestiary {
    top: 95em;
    right: -44em;
    display: block
}

@media screen and (min-width:48em) {
    #bestiary {
        display: none
    }
}

@media screen and (min-width:75em) {
    #bestiary {
        top: 73em;
        right: -56.3em
    }
}

#book-stack {
    top: 65em;
    left: -57.9em;
    z-index: 1;
    display: none !important
}

@media screen and (min-width:75em) {
    #book-stack {
        display: block !important
    }
}

#polaroids {
    left: -23em;
    top: -5em;
    display: block
}

@media screen and (min-width:48em) {
    #polaroids {
        top: 56.5em;
        left: -26.3em
    }
}

@media screen and (min-width:75em) {
    #polaroids {
        left: -13.3em
    }
}

#polaroids2 {
    top: 95.5em;
    left: -7em;
    display: block
}

@media screen and (min-width:48em) {
    #polaroids2 {
        top: 82.6em;
        left: -9.4em
    }
}

@media only screen and (min-device-width:48em) and (max-device-width:64em) and (orientation:portrait) {
    #polaroids2 {
        left: -7.4em
    }
}

@media screen and (min-width:75em) {
    #polaroids2 {
        top: 81.8em;
        left: 1.3em
    }
}

#polaroids2 .polaroid-photo {
    position: absolute;
    top: 45px;
    left: 114px;
    width: 208px;
    height: 220px;
    overflow: hidden;
    filter: brightness(80%);
    -webkit-transform: rotate(-14.5deg);
    -moz-transform: rotate(-14.5deg);
    -ms-transform: rotate(-14.5deg);
    -o-transform: rotate(-14.5deg);
    transform: rotate(-14.5deg)
}

#polaroids2 .polaroid-photo img {
    width: 100%
}

#paper-notes-bracelet {
    top: 253em;
    left: -23em;
    display: block
}

@media screen and (min-width:48em) {
    #paper-notes-bracelet {
        top: 87.8em;
        right: -35.4em;
        left: auto
    }
}

@media screen and (min-width:75em) {
    #paper-notes-bracelet {
        right: -23.1em
    }
}

#thistle {
    z-index: 1;
    display: none !important
}

@media screen and (min-width:48em) {
    #thistle {
        display: block !important;
        top: 113.4em;
        left: -43em
    }
}

@media screen and (min-width:75em) {
    #thistle {
        top: 115em;
        left: -29.9em
    }
}

#candle {
    top: 205em;
    left: -4em;
    z-index: 2;
    display: block
}

@media screen and (min-width:48em) {
    #candle {
        top: 130.4em;
        left: -4.5em
    }
}

@media only screen and (min-device-width:48em) and (max-device-width:64em) and (orientation:portrait) {
    #candle {
        left: -3em
    }
}

@media screen and (min-width:62em) {
    #candle {
        top: 130.4em;
        left: -3em
    }
}

@media screen and (min-width:75em) {
    #candle {
        top: 131.4em;
        left: 13.5em
    }
}

#screwed-up-paper {
    left: 6.5em;
    top: 196em;
    z-index: 1;
    display: block
}

@media screen and (min-width:48em) {
    #screwed-up-paper {
        top: 135.7em;
        right: 1.8em;
        left: auto
    }
}

@media screen and (min-width:62em) {
    #screwed-up-paper {
        right: -2.5em
    }
}

@media screen and (min-width:75em) {
    #screwed-up-paper {
        right: 9.6em
    }
}

#jar {
    top: 53.5em;
    right: -15em;
    display: block
}

@media screen and (min-width:48em) {
    #jar {
        display: none
    }
}

@media screen and (min-width:75em) {
    #jar {
        display: block;
        top: 154.3em;
        right: -16.1em
    }
}

#script {
    top: 143em;
    left: -22em;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
    display: block
}

@media screen and (min-width:48em) {
    #script {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        top: 151.9em;
        left: -27em
    }
}

@media only screen and (min-device-width:48em) and (max-device-width:64em) and (orientation:portrait) {
    #script {
        left: -28em
    }
}

@media screen and (min-width:75em) {
    #script {
        top: 157.8em;
        left: -12.6em
    }
}

#bath-book {
    top: 332em;
    left: 1em;
    display: block
}

@media screen and (min-width:48em) {
    #bath-book {
        top: 173.1em;
        right: -32.2em;
        left: auto
    }
}

@media screen and (min-width:75em) {
    #bath-book {
        top: 174.6em;
        right: -26em
    }
}

#book {
    z-index: 1;
    display: none !important
}

@media screen and (min-width:48em) {
    #book {
        display: block !important;
        top: 214.5em;
        right: -22.5em
    }
}

@media screen and (min-width:75em) {
    #book {
        top: 214.5em;
        right: -10.1em
    }
}

#shadow {
    top: 124em;
    left: -75em;
    z-index: 2;
    display: none !important
}

@media screen and (min-width:75em) {
    #shadow {
        display: block !important
    }
}

#report {
    top: 217.3em;
    left: -70em;
    z-index: 1;
    display: none !important
}

@media screen and (min-width:75em) {
    #report {
        display: block !important
    }
}

#cream {
    right: -29em;
    top: 224em;
    display: block
}

@media screen and (min-width:48em) {
    #cream {
        display: none
    }
}

@media screen and (min-width:75em) {
    #cream {
        top: 244.1em;
        right: -36em;
        display: block
    }
}

#ipod {
    top: 365em;
    left: -5em;
    display: block
}

@media screen and (min-width:48em) {
    #ipod {
        top: 230.4em;
        left: -13.2em
    }
}

@media screen and (min-width:75em) {
    #ipod {
        top: 263.7em;
        left: -2.6em
    }
}

#painting {
    top: 391em;
    left: -18em;
    display: block
}

@media screen and (min-width:48em) {
    #painting {
        top: 259em;
        right: -44.6em;
        left: auto
    }
}

@media screen and (min-width:75em) {
    #painting {
        top: 262em;
        right: -34em
    }
}

#keys-pass {
    top: 329em;
    left: -38em;
    display: block
}

@media screen and (min-width:48em) {
    #keys-pass {
        top: 244.3em;
        left: -19.2em
    }
}

@media screen and (min-width:75em) {
    #keys-pass {
        top: 244.5em;
        left: -8.2em
    }
}

footer {
    padding: 3em 0;
    background-color: #404040;
    width: 100%;
    position: relative;
    color: #fff
}

footer ul {
    padding: 0;
    margin: 0 0 1em;
    list-style: none;
    text-align: center
}

footer ul li {
    display: inline-block;
    width: 100%;
    margin: .4em 0
}

@media screen and (min-width:48em) {
    footer ul li {
        width: auto;
        margin: 0 .6em;
        font-size: 15px
    }
}

@media screen and (min-width:75em) {
    footer ul li {
        margin: 0 .9em;
        font-size: 16px
    }
}

footer ul li a,
footer ul li a:visited {
    color: #ccc;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

footer ul li a:focus,
footer ul li a:hover,
footer ul li a:visited:focus,
footer ul li a:visited:hover {
    color: #fff;
    text-decoration: none
}

@media screen and (min-width:48em) {
    footer ul li a,
    footer ul li a:visited {
        letter-spacing: 1px
    }
}

@media screen and (min-width:75em) {
    footer ul li a,
    footer ul li a:visited {
        letter-spacing: 2px
    }
}

footer .social-wrapper {
    margin-bottom: 4em;
    -webkit-transform: translateX(-2px);
    -moz-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    -o-transform: translateX(-2px);
    transform: translateX(-2px)
}

@media screen and (min-width:48em) {
    footer .social-wrapper {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none
    }
}

footer .social-wrapper a {
    margin: 5px;
    color: #ccc;
    font-size: 30px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

footer .social-wrapper a:hover {
    color: #fff
}

footer .signature {
    margin-bottom: 2em
}

footer .signature .footer-signature,
footer .signature #footer-signature-wrapper {
    width: 145px;
    margin: 0 auto;
    position: relative;
    opacity: .7;
    -webkit-transform: translateX(5%);
    -moz-transform: translateX(5%);
    -ms-transform: translateX(5%);
    -o-transform: translateX(5%);
    transform: translateX(5%)
}

footer .signature .footer-signature .signature-dot-footer,
footer .signature .footer-signature .signature-dot,
footer .signature #footer-signature-wrapper .signature-dot-footer,
footer .signature #footer-signature-wrapper .signature-dot {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    stroke-width: 2px
}

footer .signature .footer-signature .signature-footer-img,
footer .signature #footer-signature-wrapper .signature-footer-img {
    width: 100%;
    height: 67px;
    stroke-width: 2px;
    margin-left: -12px
}

footer small {
    color: #ccc;
    font-size: 11px;
    letter-spacing: 2px
}

footer .small-text {
    color: #ccc;
    font-size: 11px;
    margin-top: 2em
}

footer .small-text p {
    margin-bottom: 5px
}

.page #footer-wrapper {
    display: inline-block;
    width: 100%;
    position: relative
}

.page #footer-wrapper .background-footer {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0
}

.page #footer-wrapper .background-footer:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6)
}

.page footer {
    background-color: rgba(0, 0, 0, .6);
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
    position: static
}

.page footer .social-wrapper {
    margin-bottom: 4.3em
}

.page footer .menu-footer-container {
    margin-bottom: 3px;
    display: inline-block;
    width: 100%;
    margin-top: 2px
}

.home .site-content {
    background-color: transparent
}

.home footer {
    z-index: 10
}

.page footer .container,
.single footer .container {
    width: 100%
}

@media screen and (min-width:48em) {
    .page footer .container,
    .single footer .container {
        width: 750px
    }
}

@media screen and (min-width:75em) {
    .page footer .container,
    .single footer .container {
        width: 1170px
    }
}

.recentcomments a {
    display: inline !important;
    padding: 0 !important;
    margin: 0 !important
}